.account-page {
    margin: 0 32px;
}

.notes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    gap: 20px;
}

.note-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 2px solid;
    border-radius: 24px;
    padding: 16px
}

.note-box {
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 24px;
    padding: 16px;
    position: relative;
    word-break: break-all;
    width: 100%;
}

/* Tablets (between 768px and 1024px) */
@media (min-width: 600px) and (max-width: 1024px) {
    .notes-container {
        grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    }
}

/* Phones (less than 600px) */
@media (max-width: 600px) {
    .notes-container {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
}