/* General Styling*/
:root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

* {
    font-family: Helvetica, Arial, sans-serif;
    color: #07020D;
    scroll-behavior: smooth;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #FFFBF2;
}

h1 {
    font-size: 9rem;
    text-align: center;
}

h2 {
    text-align: center;
    padding: 16px 0;
}

h3 {
    margin: 0;
}

p {
    font-size: 12px;
    text-align: justify;
    margin: 0;
}

a {
    text-decoration: none;
    font-weight: bold;
}

li {
    display: inline;
}

ul {
    padding: 0;
    margin: 0;
}

form {
    margin: 0;
}

/* Home Page Styling */
.homediv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.hero-img {
    width: 500px;
}

.floating-btn,
.floating-btn-2 {
    padding: 10px 15px;
    border-radius: 12px;
    background-color: #FF0090;
    color: white;
    cursor: pointer;
    transition: .4s;
    font-size: 18px;
    border: none;
    width: fit-content;
    box-shadow: 2px 2px 6px 0 #EADCC3;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.floating-btn-2 {
    font-size: 12px;
    border: none;
    width: fit-content;
}

.floating-btn-2>input {
    outline: none;
    background-color: initial;
    border: initial;
    margin: 0;
    padding: 0;
    color: white;
    font-weight: bolder;
}

.floating-btn::before,
.floating-btn-2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 12px;
    background-color: #0007FF;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

.floating-btn:hover,
.floating-btn-2:hover {
    color: #e8e8e8;
}

.floating-btn:hover::before,
.floating-btn-2:hover::before {
    width: 100%;
}

/* Nav bar Styling */
.navbar-layout {
    display: flex;
    position: fixed;
    left: 10px;
    z-index: 1;
    pointer-events: none;
}

.navbar-container {
    width: 120px;
    box-sizing: border-box;
    z-index: 2;
}

.navbar {
    padding: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
}

.navbar-section {
    background-color: #FFF9F4;
    border-radius: 20px;
    padding: 16px;
    box-shadow: 2px 2px 6px 0 #EADCC3;
}

.info-section {
    border-radius: 40px;
}

.info-section ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.navbar-section ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.info {
    width: 300px;
    height: 40px;
    padding: 16px;
    margin: 0;
    cursor: pointer;
    background-color: #FFFBF2;
    border-radius: 20px;
    visibility: hidden;
    position: relative;
}

.info p {
    margin: 0;
    color: #FF0090 !important;
}

span {
    background-color: #E4C5FF;
    border-radius: 20px;
    margin: 16px 0;
    padding: 2px 20px;
}

/* Report Page */
.report {
    margin: 16px 32px;
    display: flex;
    flex-direction: column;
    width: 60%;
}

/*Button*/
.submit-btn {
    margin: 0;
    padding: 8px 32px;
    width: fit-content;
    border-radius: 6px;
}

/*Input field*/
.input-field {
    height: 60px;
    resize: none;
}

.input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #FF0090;
    outline: none;
    resize: none;
    border-radius: 12px;
    padding: 8px;
}

.input:focus {
    border: 2px solid #0007FF;
}

/*Pop Up*/
.popup {
    background-color: #E4C5FF;
    position: fixed;
    z-index: 2;
    padding: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    box-shadow: 2px 2px 6px 0 #EADCC3;
    border-radius: 20px;
    display: none;
}

.popup-content {
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    height: 100%;
    width: auto;
}

.popup-content p {
    font-weight: bold;
}

.popup-closebtn {
    color: #FF0090;
    float: right;
    font-size: 32px;
    font-weight: bold;
    ;
    width: fit-content;
}


.popup-closebtn:hover,
.popup-closebtn:focus {
    color: #0007FF;
    text-decoration: none;
    cursor: pointer;
}

::-webkit-scrollbar {
    background-color: #FFF9F4;
    border-radius: 20px;
    width: 16px;
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
    background-color: #FFF9F4;
    border-radius: 0 20px 20px 0;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 20px;
    border: 4px solid #FFF9F4;
}

::-webkit-scrollbar-button {
    display: none;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    visibility: hidden;
    transition: visibility 0.3s, opacity 0.3s;
    z-index: 2;
    opacity: 0;
}

body.blur::before {
    visibility: visible;
    opacity: 1;
}

.popup:not([style*="display: none"])~body::before {
    visibility: visible;
    opacity: 1;
}
