/* General Styling*/
:root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

* {
    font-family: Helvetica, Arial, sans-serif;
    color: #07020D;
    scroll-behavior: smooth;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #FFFBF2;
}

h1 {
    font-size: 9rem;
    text-align: center;
}

h2 {
    text-align: center;
    padding: 16px 0;
}

h3 {
    margin: 0;
}

p {
    font-size: 1rem;
    text-align: justify;
    margin: 0;
}

a {
    text-decoration: none;
    font-weight: bold;
}

li {
    display: inline;
}

ul {
    padding: 0;
    margin: 0;
}

form {
    margin:0;
}

/* Home Page Styling */
.homediv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.floating-btn {
    padding: 10px 15px;
    border-radius: 20px;
    background-color: #FF0090;
    color: white;
    cursor: pointer;
    transition: .4s;
    font-size: 24px;
    border: none;
    width: fit-content;
    box-shadow: 2px 2px 6px 0 #EADCC3;
}

.floating-btn-2 {
    padding: 10px 15px;
    border-radius: 20px;
    background-color: #FF0090;
    color: white;
    cursor: pointer;
    transition: .4s;
    font-size: 12px;
    border: none;
    width: fit-content;
    box-shadow: 2px 2px 6px 0 #EADCC3;
    font-weight: bolder;
}

/* Nav bar Styling */
.navbar-layout {
    display: flex;
    position: fixed;
    left: 10px;
    z-index: 2;
    pointer-events: none;
}
.navbar-container {
    width: 120px;
    box-sizing: border-box;
    z-index: 2;
}

.navbar {
    padding: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
}

.navbar-section {
    background-color: #FFF9F4;
    border-radius: 20px;
    padding: 16px;
    box-shadow: 2px 2px 6px 0 #EADCC3;
}

.info-section {
    border-radius: 40px;
}

.info-section ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:8px;
}

.navbar-section ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.info {
    width: 250px;
    height: 60px;
    padding: 16px;
    margin: 0;
    cursor: pointer;
    background-color: #FFFBF2;
    border-radius: 20px;
    visibility: hidden;
}

.info p {
    margin:0;
}

span {
    background-color: #EADCC3;
    border-radius: 20px;
    margin: 16px 0;
    padding: 2px 20px;
}

/* Report Page */
.report {
    margin: 16px 32px;
    display: flex;
    flex-direction: column;
    width: 60%;
}

/*Button*/
.submit-btn {
    margin: 0;
    padding: 8px 32px;
    width: fit-content;
    border-radius: 6px;
}

/*Input field*/
.input-field {
    height: 60px;
    resize: none;
}

.popup {
    background-color: #F9E5ED;
    position: fixed;
    z-index: 1;
    padding: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 10%;
    border: 2px solid black;
    border-radius: 6px;
    display: none;
}

.popup-content {
    background-color: #fefefe;
    border: 1px solid #888;
    height: 100%;
}

.popup-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.popup-close:hover,
.popup-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Tablets (between 768px and 1024px) */
@media (min-height: 850px) {
    .logo {
        width: 60px;
        height: 60px;
    }

    .search {
        margin-left: 0;
    }

    span {
        padding: 2px 30px;
    }
}