/* Map Page Styling */
#map-container {
    background-color: #fefefe;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.map {
    background-image: url(../img/edinburgh-map-svg.svg);
    background-size: 100%;
    background-position: center;
    width: 5000px;
    height: 3904px;
    position: relative;
    z-index: 0;
    transform: translate(-50%, -50%);
}

/* OVERLAY */
.overlay {
    background-color: #DEE1D6;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 4;
    opacity: 1;
    transition: opacity 2s ease-out;
}

.overlay.dissolve {
    opacity: 0;
    pointer-events: none;
}

/* PIN */

.pin {
    position: absolute;
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}

.pin-number {
    position: absolute;
    top: -20px;
    left: 35px;
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.pin-number span {
    color: black;
    /* Color of the number */
}

/*SEARCH BAR*/

.search {
    background-color: #EADCC3;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: width 0.5s ease-in-out;
    box-sizing: border-box;
    z-index: 3;
    position: relative;
    margin-left: 8px;
}

.location-input {
    flex-grow: 1;
    height: 38px;
    border-radius: 50px;
    border: none;
    padding-left: 8px;
    padding-right: 12px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    display: none;
}

#search-results {
    background: white;
    border: 1px solid #ccc;
    border-radius: 20px;
    display: none;
    position: absolute;
    bottom: 120px;
    left: 110px;
    width: 290px;
    box-sizing: border-box;
    padding-bottom: 16px;
    padding-top: 16px;
    z-index: 3;
}

#search-results li {
    display: block;
}

#search-results li:hover {
    background-color: #FF0090;
}

/*ADD PIN BUTTON*/
.edit-map {
    position: absolute;
    bottom: 50px;
    right: 100px;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
}

#edit-map-icon {
    width: 100px;
    height: 100px;
    cursor: pointer;
}


/*MODAL*/

.modal {
    background-color: #FFF9F4;
    position: fixed;
    z-index: 1;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 50%;
    overflow: auto;
    border-radius: 20px;
    gap: 20px;

    ::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

#modal {
    display: none;
    flex-direction: column;
}

#modal-notes {
    display: none;
    flex-direction: column;
}

#modal-location {
    display: none;
    flex-direction: column;
}

#report-problem {
    display: none;
    flex-direction: column;
}

.modal-header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.close-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-image: url(../img/Close.svg);
}

.modal-content {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal-content-note {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.notes-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.notes-grid-author {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border: 0.5px solid #2C2C2C;
}

.notes-grid-message {
    height: 150px;
    font-weight: normal;
}

/*FILTERS*/

.filters {
    display: none;
    flex-direction: column;
    padding: 16px;
    border-radius: 20px;
    width: 100px;
    box-shadow: 2px 2px 6px 0 #EADCC3;
    background: #FFF9F4;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        pointer-events: none;
    }
}

/*PIN COLOURS BY TYPE*/

.pin.restaurant {
    background-image: url(../img/StickyNote_Pink.svg);
}

.pin.park {
    background-image: url(../img/StickyNote_Green.svg);
}

.pin.landmark {
    background-image: url(../img/StickyNote_Red.svg);
}

.pin.museum {
    background-image: url(../img/StickyNote_Purple.svg);
}

.pin.street {
    background-image: url(../img/StickyNote_Purple.svg);
}

.pin.cafe {
    background-image: url(../img/StickyNote_Pink.svg);
}

.pin.bar {
    background-image: url(../img/StickyNote_Pink.svg);
}

/*TUTORIAL SECTION*/

.info-content {
    display: flex;
    align-items: left;
}

.info-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-button {
    margin-right: auto;
}

.skip {
    width: 14px;
    height: 14px;
}

.next {
    margin-top: 16px;
    padding: 6px 8px;
    border-radius: 20px;
    background-color: #FF0090;
    color: white;
    cursor: pointer;
    transition: .4s;
    font-size: 12px;
    border: none;
    width: fit-content;
}

@media (min-height: 850px) {
    .search {
        margin-left: 0;
    }
}