/* Map Page Styling */
#map-container {
    background-color: #fefefe;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.map {
    background-image: url(../img/edinburgh-map-svg.svg);
    background-size: 100%;
    background-position: center;
    width: 5000px;
    height: 3904px;
    position: relative;
    z-index: 0;
    transform-origin: top left;
}

.pin {
    position: absolute;
    border-radius: 50% 50% 50% 0;
    border: 4px solid #E0756F;
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
    background-color: #E0756F;
}

.pin-number {
    position: relative;
    transform: rotate(45deg);
    top: -12px;
    left: 4px;
    color: white;
    font-weight: 900;
}

/*SEARCH BAR*/

.search-container {
    position: absolute;
    bottom: 50px;
    left: 50px;
    height: 50px;
}

.search {
    position: relative;
    background-color: #E0756F;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: width 0.5s ease-in-out;
    box-sizing: border-box;
    padding: 8px 7px;
    width: 350px;
    height: 50px;
    z-index: 3;
}

#search-icon,
#add-pin-btn {
    background-color: #E0756F;
    border: none;
    color: white;
    font-size: 24px;
    font-weight: bolder;
    cursor: pointer;
}

.location-input {
    flex-grow: 1;
    height: 40px;
    border-radius: 50px;
    border: none;
    padding-left: 10px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

/* .search-container:focus-within {
    width: 350px;
    border-radius: 50px;
    border: none;
}

.search-container:focus-within .location-input {
    opacity: 1;
}

.search-container:focus-within #search-results {
    display: block;
} */

#search-results {
    background: white;
    border: 1px solid #ccc;
    border-radius: 30px 30px 30px 30px;
    display: block;
    position: absolute;
    bottom: 60px;
    left: 50px;
    width: 285px;
    box-sizing: border-box;
    padding-bottom: 16px;
    padding-top: 16px;
    z-index: 2;
}

#search-results li {
    display: block;
}

#search-results li:hover {
    background-color: #E0756F;
}

/*ADD PIN BUTTON*/
.edit-map {
    position: absolute;
    bottom: 50px;
    right: 100px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
}

#add-pin-btn {
    padding: 8px 8px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

/*MODAL*/

#modal {
    display: none;
    flex-direction: column;
}

#modal-location {
    display: none;
    flex-direction: column;
}

.modal {
    background-color: #fefefe;
    position: fixed;
    z-index: 1;
    padding: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 50%;
    overflow: auto;
    border: 2px solid black;
    border-radius: 10px;
}

.modal-content {
    font-weight: bold;
}

.form {
    margin: 0px;
    padding: 16px 0;
}

.notes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

/*FILTERS*/
.filters {
    position: absolute;
    top: 100px;
    left: 50px;
    display: flex;
    flex-direction: column;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 10;
    animation: fadeOut 4s ease-out forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        pointer-events: none;
    }
}

/*PIN COLOURS BY TYPE*/
.pin.restaurant {
    background-color:red;
    border: 4px solid red;
}

.pin.park {
    background-color:green;
    border: 4px solid green;
}

.pin.landmark {
    background-color:black;
    border: 4px solid black;
}

.pin.museum {
    background-color:blue;
    border: 4px solid blue;
}