@media (min-height: 850px) {
    .logo {
        width: 60px;
        height: 60px;
    }

    .info {
        width: 250px;
        height: 60px;
    }

    span {
        padding: 2px 30px;
    }
    .search {
        margin-left: 0px;
    }
}

/* CSS for tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    .hero-img {
        width: 400px;
    }

    #search-results {
        bottom: 80px;
    }
}

/* CSS for phones */
@media  (max-width: 767px) {
    .homediv {
        flex-direction: column;
    }
    .hero-img {
        width: 300px;
    }

    .input-group {
        width: 300px;
    }

    .box {
        width: 300px;
    }
    .account {
        margin: 0 16px;
    }

    .account-layout {
        flex-direction: column;
    }

    .account-nav {
        width:100%;
    }

    .account-nav ul {
        flex-direction: row;
    }
    .account-content {
        width: 100%;
    }

    #search-results {
        bottom: 80px;
    }
}