@media (min-height: 850px) {
    .logo {
        width: 60px;
        height: 60px;
    }

    .info {
        width: 250px;
        height: 60px;
    }

    span {
        padding: 2px 30px;
    }
    .search {
        margin-left: 0px;
    }
}

/* CSS for tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    .hero-img {
        width: 400px;
    }
    .hero-img-bg {
        width: 80%;
    }

    #search-results {
        bottom: 80px;
    }
}

/* CSS for phones */
@media  (max-width: 767px) {
    .homediv {
        flex-direction: column;
    }
    .hero-img {
        width: 300px;
    }

    .hero-img-container {
        display: flex;
        justify-content: center;
    }

    .hero-img-bg {
        width: 70%;
    }

    @keyframes rotation {
        from {
            transform: translate(20%, -10%) rotate(0deg);
        }
        to {
            transform: translate(20%, -10%) rotate(-360deg);
        }
    }
    .input-group {
        width: 300px;
    }

    .box {
        width: 300px;
    }
    .account {
        margin:0 15px;
    }

    .account-layout {
        flex-direction: column;
    }

    .account-nav {
        width:100%;
    }

    .account-nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
    }

    .text {
        display: none;
    }

    .icon {
        display: inline-block;
    }

    .icon img {
        width: 45px;
    }

    .account-content {
        width: 100%;
    }

    #search-results {
        bottom: 80px;
    }
}